---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404 Página no encontrada" description="404 Error">

  <section class="px-4 py-24 mx-auto max-w-7xl text-white">
    <div class="w-full mx-auto text-center lg:w-2/3">
      <h1 class="mb-4 text-6xl font-thin text-gray-100">404</h1>
      <p class="mb-3 text-xl font-bold text-gray-100 md:text-2xl">No hemos podido encontrar la página que buscaba..</p>
      <p class="mb-3 text-lg font-medium text-gray-300">
  
        <a href="#" class="underline">Volver a Almería Residencial</a>.
      </p>
    </div>
  </section>
</Layout>