---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.jsx";
import Modelos from "../components/Modelos.jsx";
import Modelos2 from "../components/Modelos2.jsx";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Sembrado from "../components/Sembrado.astro";
import Mapa from "../components/Mapa.astro";
import About from "../components/About.astro";
import FormatCredit from "../components/FormatCredit.jsx";
import Fachada from "../components/Fachada.astro";
import Form from "../components/Form.astro";
import BtnWhatsapp from "../components/BtnWhatsapp.jsx";
---

<Layout title="Almería Residencial ⚜️" 
description="Almería Residencial desarrollo exclusivo de únicamente 15 casas,ubicado dentro de Barcelona Residencial, una zona de alta plusvalía ⚜️">
  <main>
    <Header client:load  />
    <Hero />
    <About />
		<Fachada />
		<Modelos client:load />
		<Modelos2 client:load />
		<Sembrado/>
		<Mapa/>
		<FormatCredit/>
    <Form/>
    <BtnWhatsapp client:load/>
    <slot />
    <Footer />
  </main>
</Layout>

<style>
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
