---

---

<div class="md:grid md:grid-cols-2 grid grid-cols-1 grid-rows-1 bg-white">
  <div class="flex flex-col justify-center">
    <div class="bg-isoPeek items-center">
      <div class="flex items-center justify-center mb-[1rem]">
        <img
          src="/img/logo.png"
          alt="log de almeria"
          class="w-48 h-40 md:w-34 md:h-34"
        />
      </div>
      <div>
        <p class="px-16">
          Almería residencial es un desarrollo exclusivo de únicamente 15 casas,
          ubicado dentro de Barcelona Residencial, una zona de alta plusvalía,
          con fácil acceso a vialidades importantes, plazas comerciales y
          fuentes de trabajo.
        </p>

        <p class="px-16">
          Nuestros modelos Barceló, Cádiz, Betis y Celta se distinguen como un
          concepto innovador, con espacios cómodos y funcionales, que destacan
          por su amplia terraza y diseño moderno.
        </p>

        <p class="px-16">
          Se parte de este nuevo desarrollo y vive la experiencia en <span
            class="text-primary font-bold">Almería Residencial.</span
          >
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center bg-secondary p-[4rem]">
    <img src="/img/familia.jpeg" alt="familia " class="rounded-3xl" />
  </div>
</div>
