---
 import { RiMapPinLine, RiPhoneLine } from 'react-icons/ri'
---

<footer class="  bg-primary text-gray-100 py-10 md:py-16 lg:py-20">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col lg:flex-row items-center justify-around ">

      {/* Logos */}
      <div class="flex items-center mb-6 lg:mb-0 gap-[5rem]">
        <div>
          <img src="/img/logoBlanco.png" alt="logo" class="w-25 h-32 md:w-34 md:h-34" />
        </div>
      </div>
      <div>
        <img src="/img/logoObr.png" alt="logo2" class="w-42 h-14 md:w-48 md:h-20" />
      </div>

      {/* Contenido de texto */}
      <div class="flex flex-col lg:flex-row  mt-6 lg:mt-0 gap-[4rem]">
        <ul class="flex flex-col items-center lg:items-start gap-4">
          <li class="list-none flex items-center gap-2">
            <RiMapPinLine class="text-[24px]" />
            Plaza Carrusel LA002
          </li>
          <li class="list-none flex items-center gap-2">
            <RiPhoneLine class="text-lg" />
            663 113 8555
          </li>
        </ul>
        <ul class="flex flex-col items-center lg:items-start gap-y-2 ">
          <li class="mt-2 sm:mt-0">
            Lunes a Viernes: 9:00 am - 6:00 pm
          </li>
          <li class="mt-2 sm:mt-0">
            Sábado 9:00 am - 2:00 pm
          </li>
        </ul>
      </div>

    </div>

    {/* Derechos de autor */}
    <div class="text-center mt-8 md:mt-12">
      <a
        href="/aviso-privacidad"
        class="text-gray-100 hover:text-white uppercase text-lg sm:text-base cursor-pointer"
      >
        Aviso de privacidad
      </a>
      <p class="text-sm text-gray-100 mt-2">
        COPYRIGHT © 2023. TODOS LOS DERECHOS RESERVADOS.
      </p>
    </div>
  </div>
</footer>