---

---
<div class="relative bg-blue-400 text-white h-screen flex flex-col justify-center items-center overflow-hidden">
  <img src="/img/FACHADAS BARCELONA.png" alt="Fachadas Barcelona" class="absolute inset-0 object-cover w-full h-screen animate-fade eanimate-ease-in-out animate-duration-1000" />
  <div class='absolute inset-0 bg-black opacity-50'></div>
  <div class=" relative p-4 text-center">
    <p class="text-lg md:text-xl lg:text-2xl mb-6">
      Descubre casas modernas diseñadas para tu estilo de vida
    </p>
    <a href="#modelos" class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-6 rounded inline-block">
      Explora Nuestros Modelos
    </a>
  </div>
</div>