<section id="ubicacion" class="md:p-8 p-4 container mx-auto relative bg-primary">
  <h1 class=" p-9  text-base md:text-3xl lg:text-4xl text-center text-white  font-semibold">
    <span class="border-b-[3px] border-secondary">
      Alta plusvalía con fácil acceso</span>
  </h1>
  <img src="/img/mapa-01.png" alt="ubicacion almeria" class="rounded-lg shadow-lg h-auto w-auto"/>
</section>

