<section class="md:p-8 container mx-auto relative p-4 bg-primary">
  <img
    src="/img/logo.png"
    alt="log almeria"
    class="absolute translate-x-[1rem] -translate-y-4 md-translate-y-0 md:translate-x-0 w-20 md:w-32 lg:w-40 md:ml-[3rem] m-2 "
  />
  <h1
    class="absolute p-2 md:p-9 right-3 text-sm md:text-3xl lg:text-4xl text-center text-primary italic font-semibold"
  >
    <span class="border-b-[2px] border-secondary">
      Confort y exclusividad a la altura</span
    >
  </h1>

  <img
    src="/img/SEMBRADO ALMERIA-01.png"
    alt="casas de almeria"
    class="rounded-lg shadow-lg h-auto w-auto bg-gray-200"
  />
</section>
